* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body {
  background-color: hsl(32, 27%, 78%);
  color: hsl(253, 77%, 7%);
}

img {
  width: 60%;
  height: auto;
  margin: 1.5em auto -0.5em;
}

.disclaimer {
  font-style: italic;
  color: hsl(44, 8%, 26%);
}

li {
  text-align: start;
  margin: 4px 0;
  list-style-type: disc;
}

ol > li {
  margin: 0.5em auto;
  list-style-type: decimal;
}

h2 {
  margin: 1.5em auto 0.7em;
}

.index li {
  text-align: center;
  list-style-type: none;
}

.index {
  padding: 0;
}
